* {margin:0px}
body{background-color:hotpink;}
main{margin: 0px;padding: 0px;background: linear-gradient(35deg, #ccf7f7,  #bdabff);animation-name:matias;animation-duration:10s;animation-fill-mode: forwards;animation-iteration-count: infinite;}
header{background: linear-gradient(35deg, #da67f1, #7127fc);height:50px;width: 100%;top: 0;left: 0;position:fixed;text-align:right;;}
#navbar{background-color: none;height:50px;width: 50%;top: 0;right: 0;position:fixed;text-align:right;}
#boton1 {background-color:#da67f1;display: inline;width: 200px;float: left;margin: 10px 15px 5px 40px;border-radius: 30px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: bold;border-color: cadetblue;}
#welcome-section{height: 400px;background-color: none;width:100%;}
article{height:1000px;background-color: none;margin:auto;}
section h1{color:black;margin-top:90px;}
nav a {font-size:30px;padding:40px;color:rgb(236, 104, 253);text-decoration:none; font-family:Arial;}
footer{background: linear-gradient(35deg, #da67f1, #7127fc);height:80px;text-align:center; }
#welcome-section h1 {font-size:90px;padding:70px;color:black;text-decoration:none; font-family:Arial;text-align:center;margin-top:50px;}
#welcome-section h2 {font-size:50px;color:black;text-decoration:none; font-family:Arial;text-align:center;}
#project-tile{font-size:50px;padding:40px;text-decoration:none; font-family:Arial;text-align:center;color:black;} 
section {text-align:center;} 
.link{font-size:30px;padding:40px;text-decoration:none; font-family:Arial;color:#da67f1;}
#mypages {background-color:rgb(12, 57, 155);}
p{font-size:40px;padding:40px;text-decoration:none; font-family:Arial;text-align:center;color:black}
#chisono {text-align:left;font-size:50px;color:black;text-decoration:none; font-family:Arial; margin:0px 10px 0px 50px;}
article div div {text-align:center; height:max-content;width:max-content; margin: 100px 0px 100px 0px;}
article div div img {height:200px;width:300px;object-fit: cover;box-shadow: 0px 0px 20px black}
article div div img:hover { transform:scale(1.2);}




@keyframes matias {


0%{background: linear-gradient(35deg, #ccf7f7,  #bdabff)}
10%{background: linear-gradient(50deg, #bdabff,  #ccf7f7)}
20%{background: linear-gradient(60deg, #ccf7f7,  #bdabff)}
30%{background: linear-gradient(70deg, #ccf7f7,  #bdabff)}
40%{background: linear-gradient(80deg, #bdabff,  #ccf7f7)}
50%{background: linear-gradient(90deg, #ccf7f7,  #bdabff)}
60%{background: linear-gradient(100deg, #bdabff,  #ccf7f7)}
70%{background: linear-gradient(0deg, #ccf7f7,  #bdabff)}
80%{background: linear-gradient(10deg, #ccf7f7,  #bdabff)}
90%{background: linear-gradient(20deg, #bdabff,  #ccf7f7)}
100%{background: linear-gradient(35deg, #ccf7f7,  #bdabff)}
}

