#navbar{height: 100%;position: fixed;top: 0;left: 0;display:block;border-right:10px; }
nav header{text-align:center;font-size:30px;}
a {display:block; margin:30px;padding:10px;}
.main-section{margin:50px 20% 50px 20%;;}
@media screen and (max-withdth:500px) {main {background-color:grey;}}
section header {font-size:30px;}
p {font-size:20px;}
code  {font-size:20px;}
ul  {font-size:20px;}
.nav-link{font-size:20px;color:grey;text-decoration:none; }