

header{display: block;text-align:center;height: 50px;  }
header a { margin: 10px;text-align:center;color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 30px;}
body{background-color:black;}
main{margin-top: 0px;padding: 0px;background: linear-gradient(35deg, #ccf7f7,  #bdabff);height: 1000px;;}
form {background-color:rgb(159, 112, 235);margin: 0% 30% 0% 35%; opacity:0.7;height: fit-content;}
#tilte{font-size: 60px;}
#description{text-align:center;color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
#survey-form{padding:20px 30px 20px 30px;}
#name{padding:10px; margin:20px; width:90%;}
#email{padding:10px; margin:20px; width:90%;}
#number{padding:10px; margin:20px; width:90%;}
#dropdown{padding:10px; margin:20px; width:90%;}
#most-like{padding:10px; margin:20px; width:90%; height: 40px;}
#submit { padding:10px; margin:20px; width:90%;}

p{color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
label{display:block;color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
#newbie1 {display:inline;margin: 40px;transform: scale(2);}
#newbie2 {display:inline;margin: 40px;transform: scale(2);}
#newbie3 {display:inline;margin: 40px;transform: scale(2);}
#comentarios{padding:10px; margin:20px; width:90%;}
#checkbox1 {display:block;transform: scale(2);margin: 30px;}
#checkbox2 {display:block;transform: scale(2);margin: 30px;}
#checkbox3 {display:block;transform: scale(2);margin: 30px;}
#checkbox4 {display:block;transform: scale(2);margin: 30px;}

