body{background:  linear-gradient(35deg, #0c0e0e, #271616);height:1000px;}
main {height: 1000px;margin: 0px 10% 0px 10%;text-align: center;}
#inputs {width: 600px;}

div {height:400px;width: 100%;}
h1 {font-size: 100px;color: crimson;}